:root {
  --primary-turquoise: #2c3e50;
  --secondary-yellow: #fec631;
  --accent-orange-red: #f21e2c;
  --accent-reddish-orange: #b21d3b;
  --secondary-gray: #312f2c;
}

.menu-separator-header {
  height: 1.5rem;
  width: 100%;
}

header {
  position: relative;
  min-height: 140px;
  width: 100%;
  background-color: var(--primary-yellow);
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
  box-sizing: border-box;
}

header .title-container {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: clamp(0svw, 13svw, 17svw);
  box-sizing: border-box;
  min-height: 13rem;
}

header .title {
  position: relative;
  font-family: "Permanent Marker", cursive;
  font-weight: 400;
  font-size: clamp(1.8rem, 2vw + 1rem, 3rem);
  font-style: normal;
  color: var(--primary-turquoise);
  display: inline-block;
  width: fit-content;
}

header .marker-underline {
  position: absolute;
  left: 0;
  bottom: -0.8em;
  width: 100%;
  height: auto;
  pointer-events: none;
}

.info-button-panel {
  margin-left: 30px;
}

.header-separator {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: translateY(99%);
}

.header-separator svg {
  display: block;
  width: 100%;
  height: 150px;
  fill: var(--primary-yellow);
}


@media (max-width: 768px) {
  .header-separator svg {
    height: 160px;
  }
  .menu-separator-header {
    height: 2rem;
  }

  header .title-container {
    padding-left: 0;
    justify-content: center;
    flex-direction: column;
  }

  .info-button-panel {
    margin: 0;
  }

  header {
    padding-bottom: 0.5rem;
  }
}

@media (max-width: 480px) {
  .header-separator svg {
    height: 120px;
  }

  .menu-separator-header {
    height: 0.5rem;
  }
}