:root {
  --primary-turquoise: #2c3e50;
  --secondary-yellow: #fec631;
  --accent-orange-red: #f21e2c;
  --accent-reddish-orange: #b21d3b;
  --secondary-gray: #312f2c;
}

.menu-separator-header {
  height: 6svh;
  width: 100%;
}

header {
  position: relative;
  height: clamp(200px, 16rem, 270px);
  width: 100%;
  background-color: var(--secondary-yellow);
  display: flex;
  flex-direction: column;
  padding-bottom: 2rem;
}



header .title-container {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  padding-left: clamp(0svw, 10svw, 15svw);
}
header .title {
  position: relative;
  font-family: "Permanent Marker", cursive;
  font-weight: 400;
  font-size: clamp(2rem, 5svw, 4rem);
  font-style: normal;
  color: var(--primary-turquoise);
  display: inline-block;
  width: fit-content;
}
header .marker-underline {
  position: absolute;
  left: 0;
  bottom: -0.8em;
  width: 100%;
  height: auto;
  pointer-events: none;
}



.header-separator {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: translateY(99%);
}

.header-separator svg {
  position: relative;
  display: block;
  width: 100%;
  height: 200px;
  fill: var(--secondary-yellow);
}

@media (max-width: 768px) {
  .header-separator svg {
    height: 150px;
  }
  header .title-container {
    padding-left: 0;
    justify-content: center;
  }
}

@media (max-width: 480px) {
  .header-separator svg {
    height: 120px;
  }
}