.progress {
  width: 60%;
  height: clamp(10px, 20px, 1.5rem);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1.5rem 0 0 0;
}

.progress-bar {
  background-color: rgb(14, 199, 14);
  height: 100%;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: bold;

  opacity: 1;
  visibility: visible;
  transition: opacity 0.2s ease;
}

.progress-bar.hidden {
  opacity: 0;
  visibility: hidden;
}
