.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  margin-bottom: 5rem;
}

.button-container button {
  position: relative;
  width: 10rem;
  height: 4.5rem;

  --border-radius-button: 18px;

  border-radius: var(--border-radius-button);
  border: none;
  background-image: linear-gradient(to top, #ff7236, #E65100);
  outline: none;
}
.button-container button span {
  display: inline-block;
  font-size: 1rem;
  transition: transform 0.1s ease;
}
  .button-container button::after {
    content: "";
    position: absolute;

    --padding-inner-button: -5px;

    inset: var(--padding-inner-button);
    background-image: linear-gradient(to bottom, #ff7236, #E65100);
    border-radius: calc(var(--border-radius-button) + (var(--padding-inner-button) * -1));
    z-index: -1;
    box-shadow: rgba(0, 0, 0, 0.54) 0px 3px 5px;
  }
  .button-container .button-margin {
    position: absolute;
    width: 11.5rem;
    height: 6rem;
    border-radius: 22px;
    background-image: linear-gradient(to top, #32465a, #243343);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 0;
  }
.button-container button:active {
  width: 9.8rem;
  height: 4.3rem;
}
  .button-container button:active::after {
    box-shadow: rgba(0, 0, 0, .84) 0px 3px 7px;
  }
  .button-container button:active span {
    transform: scale(0.96);  
  }